@use "../../styles";

.alertContainer {
  display: none;
  flex-direction: column;
  background-color: styles.$alertBackgroundColor;
  padding: 20px 10px;
  border-radius: 10px;
  margin: 20px 0;
  border: 2px solid styles.$alertBorderColor;
  text-align: center;

  &.show {
    display: flex;
  }

  .alertHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .close {
      padding: 8px;
      font-size: 0.8rem;
      font-weight: 700;
      background-color: transparent;
      border: none;

      &:hover {
        color: styles.$closeColor;
      }
    }
  }
}
