$primaryTextColor: #15293e;
$subTextColor: #f5f9fe;

$backgroundColor: #f5f9fe;
$containerColor: #fff;
$hoverBackground: #2c3e51;

$buttonBackgroundColor: #2c3e51;
$buttonFontSize: 1.5rem;
$buttonDisabledBackgroundColor: #727e8b;

$checkmarkColor: #7afed5;

$alertBackgroundColor: #c0e89c;
$alertBorderColor: #0f5132;
$closeColor: red;

$fontFamily: "DM Sans", Sans-serif;
$fontRootSize: 16px;
$h1Size: 3rem;
$h2Size: 2rem;
$fontSize: 1.2rem;
